body {
    font-family: 'Roboto', sans-serif;
}

/* CONTAINER OF THE HEADER */
.header-wrapper {
    width: 960px;
    background-color: grey;
    margin: 0 auto;
    font-size: 15px;
}

/* MAKES LINKS WITHOUT UNDERLINE */
a {
    text-decoration: none;
    color: grey;
    margin-left: 5px;
    margin-right: 5px;  
}

h1 {
    margin: 0;
}

/* header-name LINK */
a.header-name-link {
    color: white;
}

/* header-name WHEN IT IS LINKED */
a.haeder-name-link:link {
    color: white;
}

/* HOVERING OVER header-name */
a.header-name-link:hover {
    color: white;
}

/* VISITED LINK OVER header-name */
a.header-name-link:visited {
    color: white;
}

/* WHEN header-name IS ACTIVE */
a.haeder-name-link:active {
    color: white;
}

.header-name {
    float: left;
    color: white;
    background-color: #4aaaa5;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.header-links {
    float:right;
    margin-top: 30px;
    color: grey;
}

.contents-wrapper {
    clear: both;
    overflow: auto;
    /* background-color: lightgrey; */
    background-image: url("../images/gravel.png");  
    padding-top: 10px;
    padding-bottom: 20px;
}

.contents-wrapper-contact {
    clear: both;
    overflow: auto;
    background-image: url("../images/gravel.png");  
    padding-top: 10px;
    padding-bottom: 20px;
}

.main-content {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color:#dddddd;
}
 
.main-content-header {
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-color: #cccccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-content-body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 10px;
    background: white;
    }

.main-content-body-contact {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 20px;
}

.content {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.profile-pic {
    float: left;
    padding-right: 10px;
    height: 200px;
    width: 200px;
}

p {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: grey;
    line-height: 30px;
}

footer {
    clear: both;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    background-color: #666666;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    margin: 0 auto;
    border-top-style: solid;
    border-width: 10px;
    border-color: #4aaaa5;
    font-size: 10px;
    color: #cccccc;
}

textarea {
    resize: none;
}

.name {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.name-field {
    margin-top: 10px;
    margin-bottom: 5px;
}

.email {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 10px;
}

.email-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    margin-top: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.message-field {
    margin-top: 5px;
    margin-bottom: 15px;
}

.submit-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    margin-top: 5px;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.portfolio-content {
    margin-left: 10px;
}

.portfolio-pic-container {
    position: relative;
    height: 300px;
    width: 300px;
    display: inline-block;
    margin: 40px;
}
.portfolio-pic {
    height: 300px;
    width: 300px;
}

.portfolio-labels {
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    width: 100px;
}

h3 {
    text-align: center;
}

@media screen and (max-width: 980px) {
    .main-content {
        width: 60%;
        float: left;
        margin-left: 50px;
    }

    .header-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        width: 90%;
    }

    .header-wrapper {
        width: 90%;
    }

    .profile-pic {
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
        margin: 0 auto;
    }

    .header-wrapper {
        position: static;
        width: 100%;
    }

    .profile-pic {
        height: 70%;
        width: 90%;
        float: none;
    }

    .header-name {
        float: none;
        width: 100%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .header-links {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }
}
